<div class="container">
  <div class="row">
    <div class="col text-center">
      <img
        src="img/kunto.jpg"
        alt="Kunto Wicaksono"
        class="img-thumbnail rounded-circle mt-3 avatar"
      />
      <h1 class="display-6">Kunto Wicaksono</h1>
      <p class="lead">Web Developer Fullstack</p>
    </div>
  </div>
</div>
